<ion-header>
    <ion-toolbar>
        <ion-title>Your Account</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="loading" id="loading">
        <div class="spinner"></div>
        <p>Loading profile...</p>
    </div>
    <div *ngIf="!loading" id="content">
        <ion-list>
            <ion-item>
                <ion-label>
                    Name
                </ion-label>
                <p>{{user.firstName}} {{user.lastName}}</p>
            </ion-item>
            <ion-item>
                <ion-label>
                    Email
                </ion-label>
                <p>{{user.email}}</p>
            </ion-item>
            <ion-item>
                <ion-label>
                    TBT ID
                </ion-label>
                <p>{{user.id}}</p>
            </ion-item>
            <ion-item>
                <ion-label>
                    Username
                </ion-label>
                <p>{{user.username}}</p>
            </ion-item>
            <ion-item>
                <ion-label>
                    Gender
                </ion-label>
                <p>{{user.gender}}</p>
            </ion-item>
        </ion-list>
        <ion-row center>
            <ion-col col-6 text-center>
                <ion-button large routerLink="/app/logout">
                    Logout
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
