<ion-header>
    <ion-toolbar>
        <ion-title>
            Register
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div id="register">
        <div class="register-box">
            <h1 class="ion-text-center">Let's get started</h1>
            <p class="small ion-text-center">Please make an account to get started on To Be Truthful</p>
            <p *ngIf="registerError" class="small ion-text-center error">{{registerError}}</p>
            <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                <ion-row>
                    <ion-col size="6">
                        <ion-item margin-bottom>
                            <ion-label position="stacked">First Name:</ion-label>
                            <ion-input formControlName="firstName" required></ion-input>
                        </ion-item>
                        <div *ngIf="registerSubmitted && registerForm.controls['firstName'].errors"
                             class="invalid-feedback">
                            <div *ngIf="registerForm.controls['firstName'].errors.required" class="invalid">First name
                                is
                                required
                            </div>
                        </div>
                    </ion-col>

                    <ion-col size="6">
                        <ion-item margin-bottom>
                            <ion-label position="stacked">Last Name:</ion-label>
                            <ion-input formControlName="lastName" required></ion-input>
                        </ion-item>
                        <div *ngIf="registerSubmitted && registerForm.controls['lastName'].errors"
                             class="invalid-feedback">
                            <div *ngIf="registerForm.controls['lastName'].errors.required" class="invalid">Last name is
                                required
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-item margin-bottom>
                    <ion-label position="stacked">Username:</ion-label>
                    <ion-input formControlName="username" required></ion-input>
                </ion-item>
                <div *ngIf="registerSubmitted && registerForm.controls['username'].errors" class="invalid-feedback">
                    <div *ngIf="registerForm.controls['username'].errors.required" class="invalid">Username is
                        required
                    </div>
                </div>
                <ion-item margin-bottom>
                    <ion-label position="stacked">Email Address:</ion-label>
                    <ion-input formControlName="email" required type="email"></ion-input>
                </ion-item>
                <div *ngIf="registerSubmitted && registerForm.controls['email'].errors" class="invalid-feedback">
                    <div *ngIf="registerForm.controls['email'].errors.required" class="invalid">Email is required</div>
                    <div *ngIf="!registerForm.controls['email'].errors.required && registerForm.controls['email'].errors.email"
                         class="invalid">
                        Email must be a valid email.
                    </div>
                </div>
                <ion-item margin-bottom>
                    <ion-label position="stacked">Gender</ion-label>
                    <ion-select formControlName="gender">
                        <ion-select-option value="male">Male</ion-select-option>
                        <ion-select-option value="female">Female</ion-select-option>
                        <ion-select-option value="other">Other</ion-select-option>
                    </ion-select>
                </ion-item>
                <div *ngIf="registerSubmitted && registerForm.controls['gender'].errors" class="invalid-feedback">
                    <div *ngIf="registerForm.controls['gender'].errors.required" class="invalid">Gender is
                        required
                    </div>
                </div>
                <ion-row margin-bottom="">
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="stacked">Password:</ion-label>
                            <ion-input formControlName="password" required type="password"></ion-input>
                        </ion-item>
                        <div *ngIf="registerSubmitted && registerForm.controls['password'].errors"
                             class="invalid-feedback">
                            <div *ngIf="registerForm.controls['password'].errors.required" class="invalid">Password is
                                required
                            </div>
                            <div *ngIf="!(registerForm.controls['password'].errors.required) && registerForm.controls['password'].errors.PassTooWeak"
                                 class="invalid">
                                Please pick a stronger password
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="stacked">Confirm password:</ion-label>
                            <ion-input formControlName="confirmPassword" required type="password"></ion-input>
                        </ion-item>
                        <div *ngIf="registerSubmitted && registerForm.controls['confirmPassword'].errors"
                             class="invalid-feedback">
                            <div *ngIf="registerForm.controls['confirmPassword'].errors.required" class="invalid">You
                                must type your
                                password twice.
                            </div>
                            <div *ngIf="!(registerForm.controls['confirmPassword'].errors.required) && registerForm.controls['confirmPassword'].errors.MatchPassword"
                                 class="invalid">
                                Passwords do not match.
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <ion-button [disabled]="registerLoading || registerForm.invalid" large type="submit">
                            Register
                        </ion-button>
                    </ion-col>

                    <ion-col size="6">
                        <ion-button large routerLink="/app/login">
                            Back to login
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </div>
    </div>
</ion-content>
