#question-card {
  ion-card-title {
    white-space: nowrap;
    font-family: 'Lobster', cursive;
  }

  .long {
    font-size: 4vw;

  }

  .short {
    font-size: 5vw;
  }

}

.cards-row {
  margin-top: 2vw;

  .cards-col {
    height: 30vh;

    ion-card {
      font-size: 6ch;
      height: 100%;
    }

  }
}
