<ion-header>
    <ion-toolbar>
        <ion-title>
            Play
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="loading" id="loading">
        <div class="spinner"></div>
        <p>Loading mentions...</p>
    </div>
    <div *ngIf="!loading" id="content">
        <h1 id="question" text-center>{{this.question.question.questionText}}</h1>
        <div id="cards">
            <ion-row class="cards-box">
                <ion-col size="12" margin-bottom>
                    <ion-row class="cards-row">
                        <ion-col size="6" class="cards-col">
                            <ion-card (click)="submitRate(this.question.choices[0])">
                                <ion-card-header>
                                    <ion-card-subtitle>{{ this.question.choices[0].username }}</ion-card-subtitle>
                                    <ion-card-title>{{ this.question.choices[0].firstName }} {{ this.question.choices[0].lastName }}</ion-card-title >
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                        <ion-col size="6" class="cards-col">
                            <ion-card (click)="submitRate(this.question.choices[1])">
                                <ion-card-header>
                                    <ion-card-subtitle>{{ this.question.choices[1].username }}</ion-card-subtitle>
                                    <ion-card-title>{{ this.question.choices[1].firstName }} {{ this.question.choices[1].lastName }}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="12" margin-bottom>
                    <ion-row>
                        <ion-col size="6">
                            <ion-card (click)="submitRate(this.question.choices[2])">
                                <ion-card-header>
                                    <ion-card-subtitle>{{ this.question.choices[2].username }}</ion-card-subtitle>
                                    <ion-card-title>{{ this.question.choices[2].firstName }} {{ this.question.choices[2].lastName }}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                        <ion-col size="6">
                            <ion-card (click)="submitRate(this.question.choices[3])">
                                <ion-card-header>
                                    <ion-card-subtitle>{{ this.question.choices[3].username }}</ion-card-subtitle>
                                    <ion-card-title>{{ this.question.choices[3].firstName }} {{ this.question.choices[3].lastName }}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>
