<ion-header>
    <ion-toolbar>
        <ion-title>
            Login
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div id="login">
        <div class="login-box">
            <h1 class="ion-text-center">Welcome Back!</h1>
            <p class="small ion-text-center">Sign in with your To Be Truthful account to continue</p>
            <p *ngIf="loginError" class="small ion-text-center error">{{loginError}}</p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <ion-item margin-bottom>
                    <ion-label position="stacked">Email Address:</ion-label>
                    <ion-input required formControlName="email" type="email"></ion-input>
                </ion-item>
                <ion-item margin-bottom>
                    <ion-label position="stacked">Password:</ion-label>
                    <ion-input required formControlName="password" type="password"></ion-input>
                </ion-item>
                <ion-row>
                    <ion-col col-6>
                        <ion-button type="submit" [disabled]="loginLoading || loginForm.invalid" large>
                            Login
                        </ion-button>
                    </ion-col>

                    <ion-col col-6>
                        <ion-button large routerLink="/app/register">
                            Register
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </div>
    </div>
</ion-content>
