<ion-header>
    <ion-toolbar>
        <ion-title>
            Friends
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="loading" id="loading">
        <div class="spinner"></div>
        <p>Loading friends...</p>
    </div>
    <div *ngIf="!loading" id="content">
        <ion-list>
            <ion-list-header>
                YOUR FRIENDS
            </ion-list-header>
            <ion-item *ngFor="let friend of friends">
                <ion-avatar slot="start">
                    <img src="./assets/female.png" *ngIf="friend.gender === 'female'">
                    <img src="./assets/male.png" *ngIf="friend.gender === 'male'">
                    <img src="./assets/male.png" *ngIf="friend.gender === 'other'">
                </ion-avatar>
                <ion-label>
                    <h2>{{friend.firstName }} {{friend.lastName}}</h2>
                    <p>{{friend.username}}</p>
                </ion-label>
                <ion-button shape="round" (click)="this.removeFriend(friend)">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>

        <ion-fab horizontal="end" slot="fixed" vertical="bottom">
            <ion-fab-button (click)="addFriend()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-content>
