.not-chosen {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  background-color: #ccc;
}

#question-card {
  ion-card-title {
    font-size: 3ch;
    white-space: nowrap;
    font-family: 'Lobster', cursive;
  }

  .long {
    font-size: 4vw;

  }

  .short {
    font-size: 5vw;
  }
}

.cards-row {
  margin-top: 2vw;

  .cards-col {
    height: 30vh;

    ion-card {
      height: 100%;
    }

  }
}
