// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.small {
  font-size: 14px;
  color: #989DAB;
}

.error {
  color: red;
}

input {
  border: 2px solid #D1D5DE;
  border-radius: 3px;
  box-shadow: none;
  padding: 4px 10px;
  height: 40px;
  font-weight: 400;
  font-size: 13px;
}

#loading {
  -webkit-animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -ms-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
  animation: fadein 1.5s;
  padding-top: 25%;

  p {
    padding-top: 1vh;
    text-align: center;
    color: #000000;
    font-size: 1.2rem;
  }

  .spinner {
    border: .5rem solid #f3f3f3; /* Light grey */
    border-top: .5rem solid rgb(56, 128, 255); /* Blue */
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 2s linear infinite;

    margin-left: auto;
    margin-right: auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}
